<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Couple Mate, Design your memories in Thailand</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link href="images/logo.png" rel="shortcut icon" type="image/png">
</head>

<body>
    {{{ body }}}
</body>

</html>