{{!--
<h1>
    MONGODB - EXERCISE</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section> --}}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title -->
    <title> Couple Mate, Design your memories in Thailand</title>

    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/flaticon.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="stylesheets/animate.css" rel="stylesheet">
    <link href="stylesheets/owl.carousel.css" rel="stylesheet">
    <link href="stylesheets/owl.theme.css" rel="stylesheet">
    <link href="stylesheets/slick.css" rel="stylesheet">
    <link href="stylesheets/slick-theme.css" rel="stylesheet">
    <link href="stylesheets/owl.transitions.css" rel="stylesheet">
    <link href="stylesheets/jquery.fancybox.css" rel="stylesheet">
    <link href="stylesheets/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home">

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div class="inner">
                <span class="icon">
                    <img src="images/logo.png" width="100px" height="100px" style="position: absolute;
    top: -95px;
    left: -46px;">
                </span>
            </div>
        </div>
        <!-- end preloader -->

        <!-- start of hero -->
        <section class="hero">
            <div class="hero-slider hero-slider-s1">
                <div class="slide-item">
                    <img src="images/slide-1.jpg" alt="" class="slider-bg">
                </div>

                <div class="slide-item">
                    <img src="images/slide-2.jpg" alt="" class="slider-bg">
                </div>
            </div>
            <div class="wedding-announcement">
                <div class="couple-name-merried-text">
                    <h2 class="wow slideInUp" data-wow-duration="1s">Couple Mate</h2>
                    <div class="married-text wow fadeIn" data-wow-delay="1s">
                        <h4 class="">
                            <span class=" wow fadeInUp" data-wow-delay="1.05s">D</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.10s">e</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.15s">s</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.20s">i</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.20s">g</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.20s">n</span>
                            <span>&nbsp;</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.50s">Y</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.55s">o</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">u</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">r</span>
                            <span>&nbsp;</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">M</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">e</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">m</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">o</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">r</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">i</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">e</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.60s">s</span>
                            <span>&nbsp;</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.65s">I</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.70s">n</span>
                            <span>&nbsp;</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.75s">T</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.80s">h</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.85s">a</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.90s">i</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.95s">l</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.95s">a</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.95s">n</span>
                            <span class=" wow fadeInUp" data-wow-delay="1.95s">d</span>
                            <span>&nbsp;</span>

                        </h4>
                    </div>
                    <!-- <i class="fa fa-heart"></i> -->
                </div>

                <div class="save-the-date">
                    <a href="#rsvp">
                        <h4>Book Now</h4>
                    </a>
                </div>

            </div>
        </section>
        <!-- end of hero slider -->

        <!-- Start header -->

        <!-- end of header -->
        <!-- DESTINATION THEME -->
        <!-- start inportant-people-section -->
        <section class="inportant-people-section section-padding" id="people">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <div class="vertical-line">
                                <span>

                                    <img src="images/logo.png" width="100px" height="100px" style="position: absolute;
    top: -95px;
    left: -46px;">
                                </span>
                            </div>
                            <h2>Select Theme</h2>
                            <div id="navbar" class="tablist">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#events">Skip</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end section-title -->

                <div class="row">
                    <div class="col col-xs-12">
                        <div class="inportant-people-content">
                            <!-- <div class="tablist">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#groomsmen" data-toggle="tab">Groomsmen</a>
                                    </li>
                                    <li>
                                        <a href="#bridesmaid" data-toggle="tab">Bridesmaid</a>
                                    </li>
                                </ul>
                            </div> -->

                            <div class="tab-content">
                                <div class="tab-pane fade in active grid-wrapper" id="groomsmen">
                                    <div class="grid">
                                        <div class="img-holder">
                                            <img src="images/img-1_4.jpg" alt="" class="img img-responsive">

                                        </div>
                                        <div class="details">
                                            <h3>Thai Style</h3>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="img-holder">
                                            <img src="images/img-2_4.jpg" alt="" class="img img-responsive">

                                        </div>
                                        <div class="details">
                                            <h3>Adventure</h3>
                                        </div>
                                    </div>
                                    <div class="grid" style="padding-top: 29px;">
                                        <div class="img-holder">
                                            <img src="images/img-3_3.jpg" alt="" class="img img-responsive">

                                        </div>
                                        <div class="details">
                                            <h3>James Bond</h3>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="img-holder">
                                            <img src="images/img-4_2.jpg" alt="" class="img img-responsive">

                                        </div>
                                        <div class="details">
                                            <h3>Fantacy</h3>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end inportant-people-section -->

        <!-- start events-section -->
        <section class="events-section section-padding" id="events">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <div class="vertical-line">
                                <span>

                                    <img src="images/logo.png" width="100px" height="100px" style="position: absolute;
    top: -95px;
    left: -46px;">
                                </span>
                            </div>
                            <h2>Activity List </h2>
                        </div>
                    </div>
                </div>
                <!-- end section-title -->

                <div class="row">
                    <div class="col col-lg-12 col-lg-offset-1">
                        <div class="event">
                            {{!--
                            <div class="check">
                                <input type="checkbox" />
                            </div> --}}
                            <div class="img-holder">
                                <img src="images/img-1_1.jpg" alt="" class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>Thai Massage

                                </h3>
                                <p>Thai massage has always been regarded throughout history as a healing and curative art, as
                                    opposed to just relaxation. Ordinary people in search of healing and relief from ailments
                                    would flock to the temples, where it was the monks who had studied and mastered the discipline,
                                    and who were the physicians of those times. In fact, today the Thai government continues
                                    to officially recognize and regulate Thai massage as one of the four pillars of traditional
                                    Thai medicine. </p>


                            </div>
                        </div>
                        <div class="event">
                            {{!--
                            <div class="check">
                                <input type="checkbox" />
                            </div> --}}
                            <div class="img-holder">
                                <img src="images/img-2_3.jpg" alt="" class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>Elephant Ride
                                </h3>
                                <p>Elephants Ride are an important part of Thai culture. Thailand itself has more than 70 elephant
                                    camps, most located in the north. You’ll soon find that every guesthouse, travel agent,
                                    and tuk-tuk driver seems to be peddling a different elephant experience. You can enjoy
                                    elephant rides at Ayutthaya, Pai, Phuket, Krabi, Chiang Mai, or anywhere else you go
                                    in Thailand. Almost every tourist destination offers you different sorts of elephant
                                    tours.
                                </p>

                            </div>
                        </div>
                        <div class="event">
                            {{!--
                            <div class="check">
                                <input type="checkbox" />
                            </div> --}}
                            <div class="img-holder">
                                <img src="images/street-food.jpg" alt="" class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>Street Food
                                </h3>
                                <p>Bangkok street food is known worldwide, not only Bangkok is known as the outdoor dining capital
                                    of Asia for good reason, the street food you will find in Bangkok is nothing less than
                                    jaw-dropping, taste bud-popping and downright bloody amazing. If you visit this fascinating
                                    city, your tour will not be complete if you don't sit down on a plastic tool under the
                                    wide-open sky and chow down on Thai street food on a makeshift table and experience an
                                    explosion of exciting flavors. Bangkok street food can be found in various places: roadside
                                    carts, in market stalls, or in shops. Normally, the freshest and cleanest ones are in
                                    the busy areas. </p>

                            </div>
                        </div>
                        <div class="event">
                            {{!--
                            <div class="check">
                                <input type="checkbox" />
                            </div> --}}
                            <div class="img-holder">
                                <img src="images/temple.jpg" alt="" class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>Thai Temple
                                </h3>
                                <p>In Thailand, Temples play an important role in everyday life for Thai people. People go to
                                    the temple for merit making, prey to the Buddha for things such as good health, good
                                    fortune and wealth and to seek advice from monks. Because the temples are sacred places
                                    of great importance to Thai people, please dress appropriately when visiting a temple.
                                    Always take off your shoes before going inside a temple and wear long pants or long dress,
                                    covered shoulders and long-sleeved shirts. </p>

                            </div>
                        </div>
                        <div class="event">
                            {{!--
                            <div class="check">
                                <input type="checkbox" />
                            </div> --}}
                            <div class="img-holder">
                                <img src="images/tuk.jpg" alt="" class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>Tuk-Tuk Ride
                                </h3>
                                <p>Thai Tuk Tuk can be found today in many places in Thailand, performing many functions, mostly
                                    operating as an open-air taxi. Tuk Tuks are most commonly used for transporting passengers,
                                    many industrial uses for the vehicle have been established due to the vehicle’s convenient
                                    size and speed. The small size of the cart allows for easy navigation in small alleys
                                    on delivery roots. It is common to see groups of people squished into one tuk tuk or
                                    a local holding onto boxes and bags they are taking home from the market. ‘ </p>

                            </div>
                        </div>
                        <div class="event">
                            {{!--
                            <div class="check">
                                <input type="checkbox" />
                            </div> --}}
                            <div class="img-holder">
                                <img src="images/beach.jpg" alt="" class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>Beach & Spa
                                </h3>
                                <p>When you think of Thailand, you can’t help but picture an endless supply of sun, sea and
                                    sand. And with good reason! Simply Google ‘Thailand beaches’ and you’ll immediately understand
                                    why 32 million tourists choose to visit this tropical beach paradise every year. So,
                                    believe that Thailand is nothing but white sand and long tail boats, this isn’t really
                                    the case. The Southeast Asian country has so much diversity to offer. And this means
                                    that whether you’re going for a beach crawl or just want to pepper your journey with
                                    seaside sunning, it can be pretty overwhelming to choose where to go when planning a
                                    trip. </p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <!-- end container -->
        </section>
        <!-- end events-section -->

        <!-- start rsvp-section -->
        <section class="rsvp-section section-padding parallax" data-bg-image="images/rsvp-bg.jpg" data-speed="7" id="rsvp">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title-white">
                            <div class="vertical-line">
                                <span>
                                    <img src="images/logo.png" width="100px" height="100px" style="position: absolute;
    top: -95px;
    left: -46px;">
                                </span>
                            </div>
                            <h2>Reserve Your Activities</h2>
                        </div>
                    </div>
                </div>
                <!-- end section-title -->
                {{!--
                <form action="/insert" method="post">
                    <div class="input">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div class="input">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <button type="submit">INSERT</button>
                </form> --}}
                <div class="row content">
                    <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p>Please reserve now for getting FREE useful-info</p>
                        <form action="/insert" class="form " method="post">
                            <div class="col col-sm-6">
                                <input type="text" id="username" name="username" class="form-control" placeholder="Your Name*">
                            </div>
                            <div class="col col-sm-6">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Your Email*">
                            </div>
                            <div class="col col-sm-6">
                                <input id="member" name="member" class="form-control" placeholder="No. Of Members*">
                            </div>
                            <div class="col col-sm-6">
                                <select class="form-control" id="days" name="days">
                                    <option disabled selected>No. of Days Trip*</option>
                                    <option>1-2 days</option>
                                    <option>3-5 days</option>
                                    <option>6-10 days</option>
                                    <option>11-18 days</option>
                                    <option>18 days +</option>
                                </select>
                            </div>
                            <div class="col col-sm-6">
                                <select class="form-control" id="food" name="food">
                                    <option disabled selected>Type of Food</option>
                                    <option>Vegetarian</option>
                                    <option>Non-Vegetarian</option>
                                    <option>Mexican</option>
                                    <option>Thai</option>
                                    <option>Indian</option>
                                </select>
                            </div>
                            <div class="col col-sm-6">
                                <select class="form-control" id="theme" name="theme">
                                    <option disabled selected>Prefered Theme</option>
                                    <option>Thai Style</option>
                                    <option>Adventure</option>
                                    <option>James Bond</option>
                                    <option>Fantasy</option>
                                </select>
                            </div>
                            <div class="col col-sm-12">
                                <textarea class="form-control" id="notes" name="notes" placeholder="Let us know your special concern*"></textarea>
                            </div>
                            <div class="col col-sm-12 submit-btn">
                                <button type="submit" class="submit">Book &nbsp;Now</button>
                                {{!--
                                <span id="loader">
                                    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                                </span> --}}
                            </div>
                            {{!--
                            <div class="col col-md-12 success-error-message">
                                <div id="success">Thank you</div>
                                <div id="error"> Error occurred while sending email. Please try again later. </div>
                            </div> --}}
                        </form>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end rsvp-section -->



    </div>
    <!-- end of page-wrapper -->



    <!-- All JavaScript files
    ================================================== -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Plugins for this template -->
    <script src="javascripts/jquery-plugin-collection.js"></script>

    <!-- Custom script for this template -->
    <script src="javascripts/script.js"></script>
</body>

</html>